/* FONT */

@font-face {
	font-family: Calvin and Hobbes;
	src: url(../Assets/Fonts/Calvin_Hobbes/solid.ttf);
}


/* TAGS */

html, body {
	margin: 0;
	padding: 0;
	color: #111;
	font-size: 18px;
	user-select: none;
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
	/* background-image: url(../Assets/Images/background.jpg); */
	font-family: "Calvin and Hobbes";
}

a {
	color: inherit;
	text-decoration: none;
}


/* GENERIC STYLES */

.card {
	background-color: white;
	border: 0.56em solid transparent;
	border-image: url(../Assets/Images/border.png) 7% round;
	border-image-outset: 0.1em 0.2em 0.2em 0.3em;
}

.clickable {
	cursor: pointer;
}

.oi {
	font-size: 0.7em;
}


/* MAIN CONTAINER */

#main {
	gap: 1em;
	display: grid;
	padding: 1em 0;
	align-items: start;
	justify-content: center;
	grid-template-areas: "banner navbar" "content navbar" "footer navbar";
}


/* PAGE HEADER */

#banner {
	gap: 0.5em;
	display: flex;
	padding: 0.5em 1em;
	align-items: center;
	justify-content: center;
	grid-area: banner;
}
#banner_title {
	font-size: 3em;
}
#banner_title small {
	font-size: 0.4em;
}
#banner_author {
	font-size: 0.8em;
	text-align: right;
}


/* NAVBAR */

#navbar {
	top: 1em;
	gap: 1em;
	width: 200px;
	display: flex;
	position: sticky;
	flex-direction: column;
	grid-area: navbar;
}
#navbar_date_display {
	text-align: center;
	padding: 1em 0 0 0;
}	
#navbar_date_caption {
	font-size: 0.8em;
}
#navbar_date {
	font-size: 1.3em;
}
#desktop_navbar_image {
	width: 100%;
	margin: 1em 0 0 0;
}
#navbar_links {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#nav_prev, #nav_next {
	padding: 0 1em;
}
.navbar-link.disabled {
	color: #aaa;
	cursor: not-allowed;
}


/* CONTENT */

.content.hidden, .content-specific.hidden {
	display: none !important;
}

#content_container {
	width: 34.4em;
	grid-area: content;
}

#calendar {
	gap: 0.5em;
	display: grid;
	padding: 0.5em;
	align-items: center;
	grid-template-rows: repeat(11, auto);
	grid-template-columns: repeat(13, auto);
}
.calendar-month {
	cursor: pointer;
	font-size: 0.9em;
	text-align: center;
}
.calendar-month.current {
	color: white;
	transform: scale(0.8);
	background-color: #111;
}
.calendar-month.disabled {
	color: #aaa;
	cursor: default;
}

#comics {
	gap: 1em;
	display: flex;
	flex-direction: column;
}
#comics img {
	width: 100%;
}


/* FOOTER */

#footer {
	padding: 1em;
	font-size: 0.85em;
	grid-area: footer;
}


/* DEVICE SPECIFIC ANIMATIONS */

@media (pointer: fine) {
	.calendar-month, .navbar-link {
		transition: 0.1s ease box-shadow, 0.1s ease transform;
	}
	.calendar-month:hover:not(.current, .disabled) {
		transform: scale(1.1);
		box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	}
	.calendar-month:active:not(.current, .disabled) {
		box-shadow: none;
		transform: scale(1);
	}
	#nav_cal:hover {
		transform: scale(1.1);
	}
	#nav_prev:hover, #nav_next:hover {
		transform: scale(1.4) rotate(10deg);
	}
	#nav_prev:hover, #nav_next:hover {
		transform: scale(1.4) rotate(10deg);
	}
	.navbar-link:active {
		transform: scale(1) rotate(0deg) !important;
	}
}


/* BREAKPOINTS */

@media only screen and (max-width: 900px) {
	#main {
		gap: 0.5em;
		padding: 1em;
		grid-template-areas: "banner" "navbar" "content" "footer";
	}
	#banner {
		justify-content: flex-end;
		background: white url(../Assets/Images/banner_illustration.jpeg) left center/contain no-repeat ;
	}
	#navbar {
		top: 0.4em;
		gap: 0.5em;
		width: unset;
		flex-direction: row;
	}
	#navbar_date_display {
		padding: 0;
		flex-grow: 1;
		transition: 0.2s ease box-shadow;
	}
	#navbar_date_caption, #navbar_date {
		font-size: 0.85em;
		display: inline-block;
	}
	#desktop_navbar_image {
		display: none;
	}
	#navbar_links {
		gap: 0.4em;
		font-size: 0.85em;
	}
	#navbar, #navbar_date_display, #navbar_links {
		transition: 0.2s ease box-shadow, 0.2s ease transform;
	}
	#navbar.floating {
		transform: scale(1.02);
	}
	#navbar.floating>* {
		box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	}
}

@media only screen and (max-width: 670px) {
	body {
		font-size: 2.72vw;
	}
}